
<div class="type-writer-container text-primary text-center">
    <div class="wrapper text-left">
        <div class="type-writer type-writer-1">
            <span class="h3" data-i18n="Ceci n'est pas&nbsp;" data-i18n-en="This is not&nbsp;"></span>
        </div>
    </div>
    <div class="wrapper text-left">
        <div class="type-writer type-writer-2">
            <span class="h3" data-i18n="un profil LinkedIn.&nbsp;" data-i18n-en="a LinkedIn profile&nbsp;"></span>
        </div>
    </div>
    <div class="wrapper text-left">
        <div class="type-writer type-writer-3">
            <span class="h3" data-i18n="Et toi,&nbsp;" data-i18n-en="And you,&nbsp;"></span>
        </div>
    </div>
    <div class="wrapper text-left">
        <div class="type-writer type-writer-4">
            <span class="h3" data-i18n="tu veux voir quoi ?" data-i18n-en="what would you&nbsp;"></span>
        </div>
    </div>
    <div class="wrapper text-left">
        <div class="type-writer type-writer-5">
            <span class="h3" data-i18n="" data-i18n-en="like to see ?"></span>
        </div>
    </div>
</div>
<div class="enter">
    <a class="centered" [routerLink]="['/ui/home']" data-i18n="Viens!" data-i18n-en="Home"></a>
</div>

  
  